.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container2 {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.container2 div{
border: 1px solid rgb(192, 32, 32);
text-align: center;
margin: .5em;
}

button {
font-size: 2em;
border: 0;
padding: 0;
background: none;
cursor: pointer;
}

ul {
display: flex;
padding: 0;
}

li {
margin: 0 20px;
list-style: none;
padding: 0;
}